.label {
    -fx-text-fill: blue;
}

/* Styles for the tabs when selected */
.tab-pane .tab:selected {
    -fx-background-color: darkslateblue;
}

.tab:selected .tab-label {
    -fx-text-fill: #fff;
    -fx-background-color: darkslateblue;
}

/* Styles for the submit buttons in the input forms */
.submit-button {
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
}